
@{
    ViewData["Title"] = "AllDesigners";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section Styles{
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Images/newLogo.png" />
    <link rel="stylesheet" type="text/css" href="~/pato/fonts/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/pato/css/main.css">
    <link rel="icon" type="image/png" href="~/Images/newLogo.png" />
    <link rel="stylesheet" type="text/css" href="~/css/CardDesigner.css">
}
<section style="margin-top:400px;position:relative" class="container">
    <div class="col-lg-12 text-center mt-5">
    </div>
    <div class="col-md-8 offset-md-2 mt-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search ......" aria-label="Recipient's username">
            <div class="input-group-append">
                <a href="#"><span class="input-group-text"><i class="fa fa-search" style="font-size:25px"></i></span></a>
            </div>
        </div>
    </div>
    <div class="blog-card" style="position:relative;margin-top:50px">
        <div class="meta">
            <div class="photo" style="background-image: url(../Images/black.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">John Doe</a></li>
                <li class="date">Aug. 24, 2015</li>
                <li class="tags">
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Learning to Code</h1>
            <h2>Opening a door to the future</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
        </div>
    </div>
    <div class="blog-card" style="position:relative">
        <div class="meta">
            <div class="photo" style="background-image: url(../Images/Desi.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">John Doe</a></li>
                <li class="date">Aug. 24, 2015</li>
                <li class="tags">
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Learning to Code</h1>
            <h2>Opening a door to the future</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
        </div>
    </div>
    <div class="blog-card" style="position:relative">
        <div class="meta">
            <div class="photo" style="background-image: url(../Images/Desi02.png)"></div>
            <ul class="details">
                <li class="author"><a href="#">John Doe</a></li>
                <li class="date">Aug. 24, 2015</li>
                <li class="tags">
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Learning to Code</h1>
            <h2>Opening a door to the future</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
        </div>
    </div>
    <div class="blog-card" style="position:relative">
        <div class="meta">
            <div class="photo" style="background-image: url(../Images/Desi03.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">John Doe</a></li>
                <li class="date">Aug. 24, 2015</li>
                <li class="tags">
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Learning to Code</h1>
            <h2>Opening a door to the future</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
        </div>
    </div>
    <div class="blog-card" style="position:relative">
        <div class="meta">
            <div class="photo" style="background-image: url(../Images/Desi04.jpg)"></div>
            <ul class="details">
                <li class="author"><a href="#">John Doe</a></li>
                <li class="date">Aug. 24, 2015</li>
                <li class="tags">
                    <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Learning to Code</h1>
            <h2>Opening a door to the future</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
            <p class="read-more">
                <a href="#">Read More</a>
            </p>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript" src="~/pato/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/animsition/js/animsition.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/pato/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/pato/vendor/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/pato/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/pato/js/slick-custom.js"></script>
    <script type="text/javascript" src="~/pato/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
    <script type="text/javascript" src="~/pato/vendor/countdowntime/countdowntime.js"></script>
    <script type="text/javascript" src="~/pato/vendor/lightbox2/js/lightbox.min.js"></script>
    <script src="~/pato/js/main.js"></script>
}