@model List<Photographer>
@{
    ViewData["Title"] = "AllPhotographers";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section Styles{

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Images/newLogo.png" />
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/fonts/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/pato/vendor/lightbox2/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/pato/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/pato/css/main.css">
    <link href="~/css/allphotogrphersStyle.css" rel="stylesheet" />
}
<section class="rooms-area section-padding-100-0" style="margin-top:250px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading text-center">
                    <div class="line-"></div>
                    <h2>Photographers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @{
                foreach (var item in Model)
                {
                    <!-- Single Rooms Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumbnail -->
                            <div class="bg-thumbnail bg-img" style="background-image: url(@item.ImagePath);"></div>
                            <!-- Price -->
                            <p class="price-from">@item.Ph_Price $ /session</p>
                            <!-- Rooms Text -->
                            <div class="rooms-text">
                                <div class="line"></div>
                                <h4>@item.Ph_Name</h4>
                                <p>@item.Description</p>
                            </div>
                            <!-- Book Room -->
                            <a href="~/Home/TestPhoView/@item.Ph_Id" class="book-room-btn btn palatin-btn">Go To Profile </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

    <input name="" id="" class="btn btn-danger" type="button" value="More.."
           style="margin-top: 100px; padding: 10px;margin-left: auto;margin-right: auto; text-align: center;display: block;">


<input name="" id="" class="btn btn-danger" type="button" value="More.."
       style="margin-top: 100px; padding: 10px;margin-left: auto;margin-right: auto; text-align: center;display: block;">



@section Scripts{

    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
}

