
@{
    ViewData["Title"] = "designerShow";
    Layout = "~/Views/Shared/_designerLayout.cshtml";

    <link rel="stylesheet" href="~/css/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/css/animate.css">

    <link rel="stylesheet" href="~/css/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/css/aos.css">

    <link rel="stylesheet" href="~/css/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/css/flaticon.css">
    <link rel="stylesheet" href="~/css/css/icomoon.css">
    <link rel="stylesheet" href="~/css/css/style.css">

}




<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/pic26.jpg" alt="Los Angeles" width="1100" height="500">

        </div>
        <div class="carousel-item">
            <img src="~/Images/pic27.jpg" alt="Chicago" width="1100" height="500">

        </div>
        <div class="carousel-item">
            <img src="~/Images/pic29.jpg" alt="New York" width="1100" height="500">
          
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<!-----------------------cards----------------------------->
<!------------------------->

<br />
<br />

<div id="colorlib-main" style="margin-left:110px;margin-top:20px">
  
        <div class="overlay"></div>
        <div class="js-fullheight d-flex justify-content-center align-items-center">
            <div class="col-md-8 text text-center " style="text-align:center">
                <img src="~/Images/pic22.jpg" style="border-radius:50% ;height:300px;width:300px" />
                
                <div class="desc">
                    <h2 class="subheading">
                        The best designer
                    </h2>
                    <h1 class="mb-4">Elen Henderson</h1>
                    <p class="mb-4">I am A Blogger Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          </div>
            </div>
        </div>
    
</div>

<!--------------------------car----------------------------------->

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">
                    invitation cards
                </h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="blog-entry ftco-animate">
                    <img src="~/Images/pic04.jpg" style="width:400px;height:350px" />

                    <div class="text text-2 pt-2 mt-3">

                        <h5 class="card-title">Cantazia</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="blog-entry ftco-animate">
                    <img src="~/Images/pic05.png" style="width:400px;height:350px" />

                    <div class="text text-2 pt-2 mt-3">
                        <h5 class="card-title">Zoom Shop</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="blog-entry ftco-animate">
                <img src="~/Images/pic06.jpg" style="width:400px;height:350px" />

                <div class="text text-2 pt-2 mt-3">

                    <h5 class="card-title">Lazer shop</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="blog-entry ftco-animate">
                <img src="~/Images/pic08.jpg" style="width:400px;height:350px" />

                <div class="text text-2 pt-2 mt-3">
                    <h5 class="card-title">pheloo</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-----------------------------our designer---------------------------------->


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4">
                    Our Designer
                </h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
            </div>
        </div>

        <div class=" row">
            <div class="col-md-7">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/pic21.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">john mano</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>
            <div class="col-md-5">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/pic23.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">michael mansour</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>



        </div>

       
</div>
</section>